<header class="ecoHeader">
  <div class="ecoHeader__wrap">
    <div class="ecoHeader__content">
      <div class="ecoHeader__top">
        <a href="#" class="ecoHeader__logo"><img src="assets/img/logo.png" alt="logo"></a>
      </div>
    </div>
  </div>
  <nav class="navBar">
    <div class="navBar__lead">
      <p class="navBar__leadTitle">ホリオク</p>
      <p class="navBar__leadIcon"><img src="assets/img/ico_close.png" alt="ico_close"></p>
    </div>
    <ul class="navBar__list">
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_home.png" alt="ico_home">
          <span class="navBar__linkText">トップ</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_key.png" alt="ico_key">
          <span class="navBar__linkText">アカウント</span>
        </a>
        <ul class="navBar__sub">
          <li class="navBar__subItem">
            <a href="#" class="navBar__subLink">アカウント</a>
          </li>
          <li class="navBar__subItem"><a href="#" class="navBar__subLink">退会</a></li>
          <li class="navBar__subItem">
            <a href="#" class="navBar__subLink">エコ回収</a>
          </li>
          <li class="navBar__subItem">
            <a href="#" class="navBar__subLink">ホリオク</a>
          </li>
          <li class="navBar__subItem"><a href="#" class="navBar__subLink">ログアウト</a></li>
        </ul>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_clip.png" alt="ico_clip">
          <span class="navBar__linkText">エコ回収一覧</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_hand.png" alt="ico_hand">
          <span class="navBar__linkText">寄付/CB</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_truck.png" alt="ico_truck">
          <span class="navBar__linkText">エコ回収依頼</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_card.png" alt="ico_card">
          <span class="navBar__linkText">銀行口座</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_question.png" alt="ico_question">
          <span class="navBar__linkText">ヘルプ</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_log_in.png" alt="ico_log_in">
          <span class="navBar__linkText">退会</span>
        </a>
      </li>
      <li class="navBar__item">
        <a href="#" class="navBar__link">
          <img class="navBar__linkImg" src="assets/img/ico_mail.png" alt="ico_mail">
          <span class="navBar__linkText">お問い合わせ</span>
        </a>
      </li>
    </ul>
    <div class="ecoHeader__phone">
      <div class="ecoHeader__phoneRow">
        <p class="ecoHeader__phoneImg"><img src="assets/img/ico_phone.png" alt="ico_phone"></p>
        <p class="ecoHeader__phoneText">0120-530-539</p>
      </div>
      <p class="ecoHeader__phoneText">9:00-18:00 年中無休</p>
    </div>
  </nav>
</header>