<div class="popup">
  <div class="popup__overlay"></div>
  <div class="popup__content">
    <div class="popup__search">
      <p class="popup__button"><img src="assets/img/ico_close.png" alt="ico_close"></p>
      <h6 class="popup__searchTitle">銀行選択</h6>
      <ul class="popup__searchList">
        <li class="popup__searchListItem">
          <a href="#" class="popup__searchListLink">みずほ</a>
        </li>
        <li class="popup__searchListItem">
          <a href="#" class="popup__searchListLink">三菱東京UFJ</a>
        </li>
        <li class="popup__searchListItem">
          <a href="#" class="popup__searchListLink">三井住友</a>
        </li>
        <li class="popup__searchListItem">
          <a href="#" class="popup__searchListLink">りそな</a>
        </li>
        <li class="popup__searchListItem">
          <a href="#" class="popup__searchListLink">ゆうちょ</a>
        </li>
      </ul>
      <div class="popup__searchContent">
        <h6 class="popup__searchContentTitle">その他の銀行</h6>
        <div class="popup__searchField">
          <input type="text" class="popup__searchFieldText" placeholder="銀行名を入力してください">
          <input type="button" value="検索" class="popup__searchFieldButton">
        </div>
        <div class="popup__searchKey">
          <table class="popup__searchKeyWrap">
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ア</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">イ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ウ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">エ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">オ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">カ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">キ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ク</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ケ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">コ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">サ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">シ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ス</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">セ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ソ</a>
              </td>
            </tr>
            <tr class="row">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">タ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">チ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ツ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">テ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ト</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ナ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ニ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ヌ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ネ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ノ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ハ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ヒ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">フ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ヘ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ホ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">マ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ミ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ム</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">メ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">モ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ヤ</a>
              </td>
              <td colspan="3" class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ユ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ヨ</a>
              </td>
            </tr>
            <tr class="popup__searchKeyRow">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ラ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">リ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ル</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">レ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ロ</a>
              </td>
            </tr>
            <tr class="row">
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink">ワ</a>
              </td>
              <td colspan="3" class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink is-disable">ヲ</a>
              </td>
              <td class="popup__searchKeyData">
                <a href="#" class="popup__searchKeyLink is-disable">ン</a>
              </td>
            </tr>
          </table>
        </div>
        <button class="popup__searchButton">キャンセル</button>
      </div>
    </div>
  </div>
</div>