.ecoOrder {
  padding: 40px 0 100px;

  &__wrap {
    max-width: 1080px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
  }

  &__step {
    text-align: right;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: $text;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 380px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 36px;
    position: relative;

    &--question {
      background: url(../../assets/img/ico_question.png) no-repeat center;
      background-size: auto 100%;
      background-position: center;
    }

    &--exclam {
      background: url(../../assets/img/ico_exclam.png) no-repeat center;
      background-size: auto 100%;
      background-position: center;
    }

    span {
      font-size: 14px;
      color: $pink;
      position: absolute;
      width: 100%;
      text-align: center;
      padding-top: 80px;
    }
  }

  &__title {
    font-size: 36px;
    color: $cyan;
    text-align: center;
    margin-bottom: 16px;
  }

  &__collection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 120px;

    &Column {
      width: calc(50% - 17px);
    }

    &Item {
      border: 2px solid $cyan;
      border-radius: 5px;
      background: $white;
      display: flex;
      margin-bottom: 10px;

      &Location {
        background-color: $cyan;
        color: $white;
        width: 132px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &Copy {
        color: $text;
        width: calc(100% - 132px);
        padding: 25px 20px;

        span {
          color: $pink;
        }
      }
    }

    &Text {
      width: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }

  &__text {
    font-size: 14px;
    color: $text;

    &--center {
      text-align: center;
    }
  }

  &__charge {
    max-width: 780px;
    width: 100%;
    margin: 0 auto;

    &Row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: center;
      margin: 45px 0 24px;

      &:last-of-type {
        margin-bottom: 50px;
      }
    }

    &Item {
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
      background-color: $white;
      width: 246px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $text;

      &--pink {
        width: 100%;
        border-color: $pink;
        color: $pink;
      }
    }

    &Icon {
      width: 12px;
      margin: 0 5px;
    }

    &Text {
      font-size: 14px;
      color: $text;
      margin-bottom: 30px;
    }

    &Button {
      margin-top: 70px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &Item {
      position: relative;
      margin: 0 5px;
      border: 2px solid $cyan;
      border-radius: 5px;
      padding: 24px 0;
      width: 165px;
      transform: translateY(0);
      transition: $ease;

      &:hover {
        transform: translateY(-5px);
        transition: $ease;
      }
    }

    &Overlay {
      @include ovl;
    }

    &Icon {
      width: 84px;
      margin: 0 auto 10px;
    }

    &Text {
      font-size: 18px;
      color: $cyan;
      font-weight: bold;
      text-align: center;

      span {
        font-size: 10px;
        display: block;
      }
    }
  }

  &__button {
    &--row {
      display: flex;
      align-items: center;
      justify-content: center;

      .Button {
        margin: 0 10px;
      }
    }
  }

  &__check {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &Item {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    &Text {
      color: $cyan;
      font-size: 18px;
      font-weight: bold;
      margin-right: 10px;
    }

    &Label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &Box {
      display: none;

      &:checked {
        ~ .ecoOrder__checkMark {
          background-color: $cyan;
          border-color: transparent;
          transition: $ease;

          &::after {
            display: block;
          }
        }
      }
    }

    &Mark {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 55px;
      width: 55px;
      margin-right: 5px;
      border-radius: 5px;
      border: 2px solid $cyan;
      transition: $ease;

      &::after {
        content: "";
        display: none;
        width: 9px;
        height: 18px;
        border: solid $white;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
      }
    }

    &Content {
      color: $cyan;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__choice {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    &Item {
      color: $cyan;
      font-size: 18px;
      font-weight: bold;
      width: 235px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      border: 2px solid $cyan;
      border-radius: 5px;
      background: $white;
      transition: $ease;

      &:hover {
        color: $white;
        background-color: $cyan;
        transition: $ease;
      }
    }
  }

  &__select {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;

    &Item {
      border-radius: 5px;
      border: 2px solid $cyan;
      overflow: hidden;
      margin-right: 25px;
      width: calc(100% / 3);

      &:last-child {
        margin-right: 0;
      }

      &.is-open {
        .ecoOrder__selectLeadIcon {
          transform: rotate(0deg);
          transition: $ease;
        }

        .ecoOrder__selectOption {
          display: block;
        }
      }
    }

    &Lead {
      background: $cyan;
      padding: 15px 25px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &Text {
        font-size: 18px;
        color: $white;
        font-weight: bold;
        margin-right: 12px;
      }

      &Icon {
        width: 10px;
        transform: rotate(-90deg);
        transition: $ease;
      }
    }

    &Option {
      width: 100%;
      display: none;

      &Item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 25px;
        border-bottom: 1px solid $cyan;

        &:last-child {
          border: none;
        }
      }

      &Text {
        font-size: 18px;
        color: $cyan;

        &--bold {
          font-weight: bold;
        }
      }
    }
  }

  &__tagline {
    font-size: 28px;
    color: $cyan;
    padding: 18px 0;
    border: 2px solid $cyan;
    text-align: center;
    margin-bottom: 50px;
  }

  &__furniture {
    width: 100%;
    margin-bottom: 100px;

    &Row {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &Item {
      display: flex;
      align-items: center;
      width: calc(100% / 3);
      margin: 0 25px 25px 0;
      border-radius: 5px;
      padding: 10px 25px 10px 10px;
      background: url(../../assets/img/ico_close.png) no-repeat center;
      background-position: right 25px center;
      background-size: 14px auto;
      background-color: $cyan;

      &:last-child {
        margin-right: 0;
      }
    }

    &Holder {
      width: 80px;
      height: 80px;
      background: $white;
      margin-right: 14px;
    }

    &Text {
      font-size: 24px;
      font-weight: bold;
      color: $white;
    }
  }

  .Button {
    font-weight: bold;
    width: 300px;
    border-radius: 5px;
  }
}
