<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<!-- <script src="@@webRoot/node_modules/keen-slider/keen-slider.js"></script> -->
<!-- <script src="@@webRoot/assets/libs/scrollmagic/ScrollMagic.min.js"></script> -->
<!-- <script src="@@webRoot/assets/libs/scrollmagic/plugins/debug.addIndicators.min.js"></script> -->


<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<!-- <script src="@@webRoot/assets/js/dashkit.js"></script> -->
<!-- <script src="@@webRoot/assets/js/slider.js"></script> -->
<script src="@@webRoot/assets/js/common.js"></script>
<!-- endbuild -->
