<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__content">
      <div class="footer__logo">
        <p class="footer__logoIcon"><img src="assets/img/logo_footer.png" alt="logo_footer"></p>
        <p class="footer__logoText">株式会社エコランド</p>
      </div>
      <a href="#" class="footer__link">東京都杉並区上荻2-37-7 エコランドコンシェルジュ</a>
      <a href="#" class="footer__link">0120-530-539</a>
      <a href="#" class="footer__link">特願2007-262892 取得済み</a>
    </div>
    <div class="footer__content footer__content--row">
      <div class="footer__contentItem">
        <p class="footer__title">エコランドのサービス</p>
        <a href="#" class="footer__link">エコ回収・買取</a>
        <a href="#" class="footer__link">掘り出しオークション</a>
        <a href="#" class="footer__link">産廃の収集・運搬</a>
        <a href="#" class="footer__link">不良品処分サイト リユシル</a>
      </div>
      <div class="footer__contentItem">
        <p class="footer__title">エコランドのサービス</p>
        <a href="#" class="footer__link">お知らせ</a>
        <a href="#" class="footer__link">メディア紹介</a>
        <a href="#" class="footer__link">イベントレポート</a>
        <a href="#" class="footer__link">ファンドレポート</a>
      </div>
      <div class="footer__contentItem">
        <p class="footer__title">エコランドのサービス</p>
        <a href="#" class="footer__link">運営企業</a>
        <a href="#" class="footer__link">プライバシーポリシー</a>
        <a href="#" class="footer__link">個人情報の取り扱いについて</a>
        <a href="#" class="footer__link">エコランド会員規約</a>
        <a href="#" class="footer__link">エコ回収利用規約</a>
        <a href="#" class="footer__link">オークション利用規約</a>
      </div>
    </div>
  </div>
  <p class="footer__copy">Copyrights©. 2019 ECOLAND ALL RIGHTS RESERVED.</p>
</footer>
