<div class="popup">
  <div class="popup__overlay"></div>
  <div class="popup__content">
    <div class="popup__list">
      <h6 class="popup__listTitle">銀行選択</h6>
      <div class="popup__listWrap">
        <ul class="popup__listContent">
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">アイオー信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">相生市農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち海部農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知北農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県医師信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県医療信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県警察信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県信用漁業協同組合連合会</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県信用農業協同組合連合会</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知県中央信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知商銀信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち知多農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち中央農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち豊田農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知西農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知東農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち尾東農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいち三河農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">愛知みなみ農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">会津いいで農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">会津商工信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">会津信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいづ農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">会津みどり農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">会津みなみ農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいら伊豆農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あいら農業協同組合愛知</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青い森信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青木信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あおぞら</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あおぞら農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あおば農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青森</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青森県信用漁業協同組合連合会</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青森県信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青森県信用農業協同組合連合会</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">青森農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あかぎ信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">赤城橘農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あかし農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">阿寒農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あがつま農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋川農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田おばこ農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あきた北農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田県信用組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あきた湖東農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">あきた白神農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田しんせい農業協同組合</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">秋田ふるさと農業協同組合</a>
          </li>
        </ul>
      </div>
      <div class="popup__listButton">
        <button class="Button">戻る</button>
        <button class="Button">キャンセル</button>
      </div>
    </div>
  </div>
</div>