<header class="ecoHeader">
  <div class="ecoHeader__wrap">
    <div class="ecoHeader__content">
      <div class="ecoHeader__top">
        <a href="#" class="ecoHeader__logo"><img src="../assets/img/logo.png" alt="logo"></a>
      </div>
      <div class="ecoHeader__info">
        <div class="ecoHeader__infoItem">
          <div class="ecoHeader__user">
            <p class="ecoHeader__userIcon"><img src="../assets/img/ico_user.png" alt="ico_user"></p>
            <p class="ecoHeader__userText">ログイン</p>
          </div>
        </div>
        <div class="ecoHeader__infoItem">
          <p class="ecoHeader__menu"><img src="../assets/img/ico_menu_cyan.png" alt="ico_menu_cyan"></p>
        </div>
      </div>
    </div>
  </div>
</header>