<header class="ecoHeader">
  <div class="ecoHeader__wrap">
    <div class="ecoHeader__content">
      <div class="ecoHeader__top">
        <a href="#" class="ecoHeader__logo"><img src="assets/img/logo.png" alt="logo"></a>
        <p class="ecoHeader__slogan">@@slogan</p>
      </div>
      <div class="ecoHeader__info">
        <div class="ecoHeader__infoItem">
          <div class="ecoHeader__phone">
            <p class="ecoHeader__phoneImg"><img src="assets/img/ico_phone.png" alt="ico_phone"></p>
            <p class="ecoHeader__phoneText">0120-530-539</p>
          </div>
          <p class="ecoHeader__phoneText">9:00-18:00 年中無休</p>
        </div>
        <div class="ecoHeader__infoItem">
          <div class="ecoHeader__user">
            <p class="ecoHeader__userIcon"><img src="assets/img/ico_user.png" alt="ico_user"></p>
            <p class="ecoHeader__userText">uno-hayato</p>
          </div>
          <ul class="ecoHeader__sub hideElm">
            <li class="ecoHeader__subItem">
              <a href="#" class="ecoHeader__subLink">アカウント</a>
              <ul class="ecoHeader__subDeep">
                <li class="ecoHeader__subDeepItem"><a href="#" class="ecoHeader__subDeepLink">プロフィール</a></li>
                <li class="ecoHeader__subDeepItem"><a href="#" class="ecoHeader__subDeepLink">プロフィール</a></li>
                <li class="ecoHeader__subDeepItem"><a href="#" class="ecoHeader__subDeepLink">プロフィール</a></li>
              </ul>
            </li>
            <li class="ecoHeader__subItem"><a href="#" class="ecoHeader__subLink">退会</a></li>
            <li class="ecoHeader__subItem">
              <a href="#" class="ecoHeader__subLink">エコ回収</a>
            </li>
            <li class="ecoHeader__subItem"><a href="#" class="ecoHeader__subLink">ホリオク</a></li>
            <li class="ecoHeader__subItem"><a href="#" class="ecoHeader__subLink">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>