<footer class="footer">
  <div class="footerWrap">
    <ul class="footerList">
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコランド</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコ回収</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">リユシル</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコランド</a>
      </li>
    </ul>
    <ul class="footerList">
      <li class="footerList__item">
        <a href="#" class="footerList__link">なりすまし業者にご注意</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">個人情報の扱いについて</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">プライバシーポリシー</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコ回収利用規約</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">出品禁止商品ガイドライン</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">寄付</a>
      </li>
    </ul>
    <ul class="footerList">
      <li class="footerList__item">
        <a href="#" class="footerList__link">紹介先</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコランド会員規約</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">エコランドオークション利用規約</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">特定商取引法に基づく表記</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">古物営業法に基づく表示</a>
      </li>
    </ul>
  </div>
  <div class="footerWrap">
    <ul class="footerList">
      <li class="footerList__item">
        <p class="footerList__text">株式会社エコランド</p>
      </li>
      <li class="footerList__item">
        <p class="footerList__text">東京都杉並区上荻2-37-7</p>
      </li>
      <li class="footerList__item">
        <p class="footerList__text">エコランドコンシェルシュ</p>
      </li>
      <li class="footerList__item">
        <p class="footerList__text">0120-530-539</p>
      </li>
      <li class="footerList__item">
        <p class="footerList__text">特願2007-262892</p>
      </li>
      <li class="footerList__item">
        <p class="footerList__text">取得済み</p>
      </li>
    </ul>
    <ul class="footerList">
      <li class="footerList__item">
        <a href="#" class="footerList__link">お問い合わせ</a>
      </li>
      <li class="footerList__item">
        <a href="#" class="footerList__link">運営企業について</a>
      </li>
    </ul>
  </div>
  <p class="footerCopy">© 2015 Ecoland co, Ltd.</p>
</footer>
