<div class="popup">
  <div class="popup__overlay"></div>
  <div class="popup__content">
    <div class="popup__list">
      <h6 class="popup__listTitle">銀行選択</h6>
      <div class="popup__listWrap">
        <ul class="popup__listContent">
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">アイオー信用金庫</a>
          </li>
          <li class="popup__listContentItem">
            <a href="#" class="popup__listContentLink">相生市農業協同組合</a>
          </li>
        </ul>
      </div>
      <div class="popup__listButton">
        <button class="Button">戻る</button>
        <button class="Button">キャンセル</button>
      </div>
    </div>
  </div>
</div>